In [ ]:
import math

In [ ]:
p=int(input("Enter a prime no."))
q=int(input("Enter a prime no."))
n=p*q
print(n)

Enter a prime no.11
Enter a prime no.17
187

In [ ]:
tot=(p-1)*(q-1)
print("Totient : ",tot)

Totient :  160

In [ ]:
def gcd(a,b):
  while b:
    a,b = b,a%b
  return a

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            return False
    return True

In [ ]:
def e_gen(tot):
  for e in range(2,tot):
    if (gcd(e,tot)==1 & is_prime(e)):
      print("e = ",e)
      return e
e=e_gen(tot)

e =  3

In [ ]:
def mod_inverse(e,phi):
  # Q A B R T1 T2 T
  d=0
  T1,T2=0,1
  A,B=phi,e

  while B:
    Q=A//B
    A,B=B,A%B
    T1,T2=T2,T1-T2*Q
  if T1<0:
    T1+=phi
  print(T1)
  return T1

In [ ]:
d=mod_inverse(e,tot)

107

In [ ]:
PT=77
CT=(PT**e)%n
print(CT)

PT1=(CT**d)%n
print(PT1)

66
77